In [1]:
# Ensemble Learning

import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
#  Read the CSV and Perform Basic Data Cleaning

# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
# Split the Data into Training and Testing

# Create our features
X = df.copy()
X.drop("loan_status", axis=1, inplace=True)

# Create our target
y = df["loan_status"].values.reshape(-1, 1)

In [6]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 85 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   pymnt_plan                  68817 non-null  object
 8   dti                         68817 non-null  float64
 9   delinq_2yrs                 68817 non-null  float64
 10  inq_last_6mths              68817 non-null  float64
 11  open_acc                    68817 non-null  float64
 12  pub_rec                     68817 non-null  float64
 13  revol_bal                   68817 non-null  float64
 14  total_acc                   68817 non-null  float64
 15  initial_list_status         68817 non-null  object
 16  out_prncp                   68817 non-null  float64
 17  out_prncp_inv               68817 non-null  float64
 18  total_pymnt                 68817 non-null  float64
 19  total_pymnt_inv             68817 non-null  float64
 20  total_rec_prncp             68817 non-null  float64
 21  total_rec_int               68817 non-null  float64
 22  total_rec_late_fee          68817 non-null  float64
 23  recoveries                  68817 non-null  float64
 24  collection_recovery_fee     68817 non-null  float64
 25  last_pymnt_amnt             68817 non-null  float64
 26  next_pymnt_d                68817 non-null  object
 27  collections_12_mths_ex_med  68817 non-null  float64
 28  policy_code                 68817 non-null  float64
 29  application_type            68817 non-null  object
 30  acc_now_delinq              68817 non-null  float64
 31  tot_coll_amt                68817 non-null  float64
 32  tot_cur_bal                 68817 non-null  float64
 33  open_acc_6m                 68817 non-null  float64
 34  open_act_il                 68817 non-null  float64
 35  open_il_12m                 68817 non-null  float64
 36  open_il_24m                 68817 non-null  float64
 37  mths_since_rcnt_il          68817 non-null  float64
 38  total_bal_il                68817 non-null  float64
 39  il_util                     68817 non-null  float64
 40  open_rv_12m                 68817 non-null  float64
 41  open_rv_24m                 68817 non-null  float64
 42  max_bal_bc                  68817 non-null  float64
 43  all_util                    68817 non-null  float64
 44  total_rev_hi_lim            68817 non-null  float64
 45  inq_fi                      68817 non-null  float64
 46  total_cu_tl                 68817 non-null  float64
 47  inq_last_12m                68817 non-null  float64
 48  acc_open_past_24mths        68817 non-null  float64
 49  avg_cur_bal                 68817 non-null  float64
 50  bc_open_to_buy              68817 non-null  float64
 51  bc_util                     68817 non-null  float64
 52  chargeoff_within_12_mths    68817 non-null  float64
 53  delinq_amnt                 68817 non-null  float64
 54  mo_sin_old_il_acct          68817 non-null  float64
 55  mo_sin_old_rev_tl_op        68817 non-null  float64
 56  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 57  mo_sin_rcnt_tl              68817 non-null  float64
 58  mort_acc                    68817 non-null  float64
 59  mths_since_recent_bc        68817 non-null  float64
 60  mths_since_recent_inq       68817 non-null  float64
 61  num_accts_ever_120_pd       68817 non-null  float64
 62  num_actv_bc_tl              68817 non-null  float64
 63  num_actv_rev_tl             68817 non-null  float64
 64  num_bc_sats                 68817 non-null  float64
 65  num_bc_tl                   68817 non-null  float64
 66  num_il_tl                   68817 non-null  float64
 67  num_op_rev_tl               68817 non-null  float64
 68  num_rev_accts               68817 non-null  float64
 69  num_rev_tl_bal_gt_0         68817 non-null  float64
 70  num_sats                    68817 non-null  float64
 71  num_tl_120dpd_2m            68817 non-null  float64
 72  num_tl_30dpd                68817 non-null  float64
 73  num_tl_90g_dpd_24m          68817 non-null  float64
 74  num_tl_op_past_12m          68817 non-null  float64
 75  pct_tl_nvr_dlq              68817 non-null  float64
 76  percent_bc_gt_75            68817 non-null  float64
 77  pub_rec_bankruptcies        68817 non-null  float64
 78  tax_liens                   68817 non-null  float64
 79  tot_hi_cred_lim             68817 non-null  float64
 80  total_bal_ex_mort           68817 non-null  float64
 81  total_bc_limit              68817 non-null  float64
 82  total_il_high_credit_limit  68817 non-null  float64
 83  hardship_flag               68817 non-null  object
 84  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(9)
memory usage: 44.6+ MB

In [8]:
# Check the balance of our target values
df["loan_status"].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
X_train.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,51612.000000,51612.000000,51612.000000,5.161200e+04,51612.000000,51612.000000,51612.000000,51612.000000,51612.000000,51612.000000,...,51612.000000,51612.000000,51612.000000,51612.000000,51612.000000,51612.0,5.161200e+04,5.161200e+04,51612.000000,5.161200e+04
mean,16689.106700,0.127642,480.676883,8.863669e+04,21.786729,0.218438,0.495389,12.577947,0.125475,17566.003623,...,0.052740,2.216578,95.085476,30.542252,0.125397,0.0,2.101312e+05,6.127791e+04,29755.046559,5.570921e+04
std,10266.626708,0.048183,287.489861,1.275942e+05,20.227410,0.721159,0.756235,6.007003,0.336195,21828.912860,...,0.396807,1.892282,8.280817,33.551788,0.336108,0.0,1.940553e+05,5.750947e+04,26709.822989,5.121154e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,4.500000e+02
25%,9175.000000,0.088100,265.730000,5.000000e+04,13.880000,0.000000,0.000000,8.000000,0.000000,6295.000000,...,0.000000,1.000000,93.100000,0.000000,0.000000,0.0,6.680000e+04,2.646125e+04,11700.000000,2.288975e+04
50%,15000.000000,0.118000,404.790000,7.291250e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12056.500000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.462840e+05,4.532700e+04,22000.000000,4.198350e+04
75%,24000.000000,0.155700,647.800000,1.038735e+05,26.630000,0.000000,1.000000,16.000000,0.000000,21721.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.032055e+05,7.638525e+04,39400.000000,7.226725e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,17.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [11]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

ValueError: could not convert string to float: 'RENT'

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 85 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   pymnt_plan                  68817 non-null  object
 8   dti                         68817 non-null  float64
 9   delinq_2yrs                 68817 non-null  float64
 10  inq_last_6mths              68817 non-null  float64
 11  open_acc                    68817 non-null  float64
 12  pub_rec                     68817 non-null  float64
 13  revol_bal                   68817 non-null  float64
 14  total_acc                   68817 non-null  float64
 15  initial_list_status         68817 non-null  object
 16  out_prncp                   68817 non-null  float64
 17  out_prncp_inv               68817 non-null  float64
 18  total_pymnt                 68817 non-null  float64
 19  total_pymnt_inv             68817 non-null  float64
 20  total_rec_prncp             68817 non-null  float64
 21  total_rec_int               68817 non-null  float64
 22  total_rec_late_fee          68817 non-null  float64
 23  recoveries                  68817 non-null  float64
 24  collection_recovery_fee     68817 non-null  float64
 25  last_pymnt_amnt             68817 non-null  float64
 26  next_pymnt_d                68817 non-null  object
 27  collections_12_mths_ex_med  68817 non-null  float64
 28  policy_code                 68817 non-null  float64
 29  application_type            68817 non-null  object
 30  acc_now_delinq              68817 non-null  float64
 31  tot_coll_amt                68817 non-null  float64
 32  tot_cur_bal                 68817 non-null  float64
 33  open_acc_6m                 68817 non-null  float64
 34  open_act_il                 68817 non-null  float64
 35  open_il_12m                 68817 non-null  float64
 36  open_il_24m                 68817 non-null  float64
 37  mths_since_rcnt_il          68817 non-null  float64
 38  total_bal_il                68817 non-null  float64
 39  il_util                     68817 non-null  float64
 40  open_rv_12m                 68817 non-null  float64
 41  open_rv_24m                 68817 non-null  float64
 42  max_bal_bc                  68817 non-null  float64
 43  all_util                    68817 non-null  float64
 44  total_rev_hi_lim            68817 non-null  float64
 45  inq_fi                      68817 non-null  float64
 46  total_cu_tl                 68817 non-null  float64
 47  inq_last_12m                68817 non-null  float64
 48  acc_open_past_24mths        68817 non-null  float64
 49  avg_cur_bal                 68817 non-null  float64
 50  bc_open_to_buy              68817 non-null  float64
 51  bc_util                     68817 non-null  float64
 52  chargeoff_within_12_mths    68817 non-null  float64
 53  delinq_amnt                 68817 non-null  float64
 54  mo_sin_old_il_acct          68817 non-null  float64
 55  mo_sin_old_rev_tl_op        68817 non-null  float64
 56  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 57  mo_sin_rcnt_tl              68817 non-null  float64
 58  mort_acc                    68817 non-null  float64
 59  mths_since_recent_bc        68817 non-null  float64
 60  mths_since_recent_inq       68817 non-null  float64
 61  num_accts_ever_120_pd       68817 non-null  float64
 62  num_actv_bc_tl              68817 non-null  float64
 63  num_actv_rev_tl             68817 non-null  float64
 64  num_bc_sats                 68817 non-null  float64
 65  num_bc_tl                   68817 non-null  float64
 66  num_il_tl                   68817 non-null  float64
 67  num_op_rev_tl               68817 non-null  float64
 68  num_rev_accts               68817 non-null  float64
 69  num_rev_tl_bal_gt_0         68817 non-null  float64
 70  num_sats                    68817 non-null  float64
 71  num_tl_120dpd_2m            68817 non-null  float64
 72  num_tl_30dpd                68817 non-null  float64
 73  num_tl_90g_dpd_24m          68817 non-null  float64
 74  num_tl_op_past_12m          68817 non-null  float64
 75  pct_tl_nvr_dlq              68817 non-null  float64
 76  percent_bc_gt_75            68817 non-null  float64
 77  pub_rec_bankruptcies        68817 non-null  float64
 78  tax_liens                   68817 non-null  float64
 79  tot_hi_cred_lim             68817 non-null  float64
 80  total_bal_ex_mort           68817 non-null  float64
 81  total_bc_limit              68817 non-null  float64
 82  total_il_high_credit_limit  68817 non-null  float64
 83  hardship_flag               68817 non-null  object
 84  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(9)
memory usage: 44.6+ MB